MONGODB_URI=mongodb+srv://civicadmin:civic1234@cluster0.xxxxx.mongodb.net/civictrack?retryWrites=true&w=majority
JWT_SECRET=civictrack_python_secret_2026
GMAIL_USER=shannupayyavula06@gmail.com
GMAIL_PASS=hwpyeypjbzlqvhkl
PORT=5000
